html {
	@media (min-width: 0) and (max-width: 767px) { 
		font-size: 90% 
	}
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.03rem;
	margin: 0;
	padding: 4rem 2rem;

	* {
		box-sizing: border-box;
	}
	
	select::-ms-expand {
	    display: none;
	}
}